.link {
  color: black;
}

.total {
  display: grid;
  place-items: center;
}
#loadingSpinner {
  display: none;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer {
  color: #000000;
  padding: 1rem;
}
.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-content .footer-left,
.footer .footer-content .footer-right {
  flex: 1;
  display: flex;
  align-items: center;
}
.footer .footer-content .footer-left {
  justify-content: flex-start;
}
.footer .footer-content .footer-left p {
  margin: 0;
  padding: 0 1rem;
}
.footer .footer-content .footer-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-content .footer-center .social-icon {
  color: #ddd;
  text-decoration: none;
  margin: 0 0.5rem;
}
.footer .footer-content .footer-center .imglogo {
  height: 50px;
}
.footer .footer-content .footer-right {
  justify-content: flex-end;
}
.footer .footer-content .footer-right img {
  max-width: 100%;
  height: 70px;
}
